@model IEnumerable<Lafarge_TimeSheet.Models.TimeEntry>

@{
    ViewData["Title"] = "Entries";
}

<h1>Entries</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClockInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOutTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClockInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockOutTime)
            </td>

           
        </tr>
}
    </tbody>
</table>
